.ent-top {
    background: url('../images_www/v7/design/enterprise/enterprise_bgr.png') no-repeat;
    width:911px;
    min-height: 447px;
    
	background-position:left top;
	background-color:#2F6DB7;
}
.ent-top-container {
    margin: 0px 45px 0px 45px;
    padding:25px 0px 25px 0px;
    color: white;
}
.ent-buttons {
    margin-right: 35px;
    display: inline-block;
}
.ent-h1 {
    color:white;
    font-size:24px;
    font-weight: bold;
}
.ent-top-img {
    text-align: center;
    padding:20px 20px 10px 20px;
    background-color:#70a7e4;
    margin-top:3px;
}
img.shadow {box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.45);}
.ent-top-more {
    margin-top:15px;
}
.ent-top-more a {color:white;}
.ent-arr {
    display: inline-block;
    margin-bottom: -3px;
    margin-left: 7px;
}
.ent-top-cell1-cont {
    height:350px;
    padding-right:35px;
}
.ent-top-quote {
    margin-top:10px;
    font-size: 13px;
    text-align: left;
}
.ent-top-quote a {color: white;text-decoration:underline}
.ent-comp {margin-top: 7px;}

#accordion {display: none; }
.ui-accordion .ui-accordion-header {
    color:white;
    font-size:15px;
    background: #021a72;
    border: 1px solid #70a7e4;
}
#accordion p {
    background-color: #70a7e4;
    color:white;
    font-size:14px;
    padding:8px;
}
.ui-accordion-content, .ui-widsget-content, .ui-widssget-content {
     background-color: #70a7e4;
}
.ui-accordion .ui-accordion-content {
    padding: 0px;
}
.ui-widget-content {
     border: 1px solid #70a7e4;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br  {
    border-radius: 0px;
}

.sw-h1 {
     color:white;
    font-size:24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.sw-h2 {
     color:white;
    font-size:20px;
    font-weight: normal;
    border: none;
    padding-top:0px;
    margin-bottom:12px;
}
.sw-top-cell, .sw-top-cell2  {
    height: 450px;
    background-color: #70a7e4;
    width:260px;
}
.sw-top-cell2 {
    margin-left:10px;
}
h3.sw-top-cell-h3 {
    color:white;
    background: #021a72;
    padding:10px;
    font-size:18px;
    text-align: center;
}
.sw-top-cell p {
    padding:15px;
    font-size:14px;
}
h4.sw-top-cell-h4, h4.sw-top-cell-h4 a {
    font-size:16px;
    font-weight: bold;
    color:white;
    padding-top:0px;
}
.sw-tbl {
    margin: 15px;
    color:white;
    font-size:14px;
}
.sw-white, a.sw-white {
    color:white;
}
.sw-lcol {
    margin:10px 45px 45px 30px;
}
.sw-lcol {
    margin:10px 45px 45px 30px;
}
.sw-rcol {
    margin:10px 45px 45px 0px;
    font-size:13px;
    width:580px;
}
.sw-rcol h4 {
    clear: none;
    color:#145192;
}
img.sw-go {
    display: inline-block;
    margin-bottom: -7px;
    margin-right: 7px;
}
.ui-widget {
font-family:inherit;
}
