.color-blue {color:#0d4a9b;}
#partners {border-top:1px solid #bbbbbb;}
.partner {border-bottom:1px solid #bbbbbb;padding:20px 0px 20px 0px;}
.sort-bar {margin:20px 0px 10px 0px;}
.categ {float:left;text-align:center;width:110px;margin:20px 40px 0px 20px;}
.logo {float:left;text-align: center;margin:20px 0px 0px 0px;}
.partner h2 {font-size:15px;border: none;font-weight: bold}
.partner p {font-size:13px;}
.detail {float:left;width:520px;}
.categ a {display: block;margin-top: 10px;}
