.screenshots-col {
    padding-left: 15px; 
    vertical-align:top;
}
.features-table td {
    vertical-align:top;
    padding-bottom:10px;
}
h1 {
    color:#0d4a9b;
    text-decoration:none;
    font-weight: bold;
    font-size: 20px;
}
#products-platform-navig h1 {
    color:#1e2aa60;
    margin-bottom:0px;
    padding-left:11px;
}
h2 {
    color:#0d4a9b;
    padding:0px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    margin:12px 0px 20px 0px;
}
h3 {
    color:#2D3F8E;
    padding-top:12px;
    font-size: 1.1em;
}
.overview-box {
    background-color:#e6f6fe;
    padding:3px 5px 3px 5px;
}
.navig-offset {
    padding-left:12px;
}
.navig-platform-offset{
    padding-left:7px;
}
.pale {
    background-color:#fff8d9;
}
.pink {
    background-color:#ffe6e6;
}
.green2 {
    background-color:#d9ffda;
}
p.intro {
    font-size:14px;
    color:#333333;
    border-radius:7px;
        background-color: #cceeff;
            padding:7px;
}
div.line {
    height:1px;
    clear:both;
    line-height: 1px;
}
p {
    padding:0px;
    margin:0px 0px 18px 0px;
    font-size:13px;
}
.overview-left {
    float: left;
    margin:13px 20px 20px 0px;
    display: inline-block;
    border:1px solid #bbbbbb;
    position: relative;
}
.overview-right {
    float: right;
    margin:13px 0px 20px 20px;
    display: inline-block;
    border:1px solid #bbbbbb;
    position: relative;
}
.overview-centre {
    float: none;
    margin:0px 0px 20px 0px;
    display: inline-block;
    border:1px solid #bbbbbb;
    position: relative;
}
#heading-stripe a:hover {
    background: none;
}
.bigger {
    font-size:13px;
}

.zoomIcon {
    background: url("/images_www/v7/design/overview/icon.png") repeat scroll 0 0 transparent;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 33px;
}

