#sampledesc { }
#samplethumb {
    margin: 0pt 10px 5px 0pt; 
    float: left;
    text-align:center;
    width : 150px ;  
}
#samplethumb img {
    margin: 5pt 0px; 
}
#sampledesc ul li {
    margin:3px 15px;
}

.trail-box-bottom-blue {
   background-image:url('../images_www/sample-catalog/trails-box-bm-blue.png');
   background-repeat:repeat-x;
   height:6px;
   margin:0px;
   padding:0px;
   line-height:1%;
}