.dataTables_length {
  float:right;
  margin-top:5px;
}
.dataTables_filter {
 padding:5px;
 background-color: #e4e4e4;
}
.dataTables_filter input {
	border: 1px solid #1E2A60;
}
.dataTables_info {
 margin-bottom:10px;
}

.dataTables_paginate {
	width: 44px;
	float: right;
	text-align: right;
}

.sorting, .sorting_desc, .sorting_asc {
	cursor: pointer;
}
.odd {
background-color:#F2F2F2;
}
.even {
background-color:#FAFAFA;
}
